.stage {  
    position: relative;
    cursor: pointer;
    
    -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;    
   overflow: hidden;    
}

.bannerSize{ 
width: 970px; 
height: 250px; 
background-color: black;
}

body{
    color: white;
}

.hi{
height: 40px;
position: absolute;
left: 90px;
top: 5px;
}

.sim{
height: 170px;
position: absolute;
left: 400px;
top: 40px;
}
.buttn{
background-color: #9000ff;
color: white;
border-radius: 10px;
right: 20px;
top: 120px;
position: absolute;
padding: 10px;
border-color: white;
border-width: 2px;
}

li{
    list-style-type: none;
    margin-left: 600px;
    position: relative;
    top: -60px;
}

.circle{
    background-color: #9000ff;
    height: 150%;
    width: 50%;
    bottom: 275px;
    margin-left: 800px;
    border-radius: 9999px;
    position: relative;
    
}

