h1{
    font-family: "Merriweather", serif;
}

nav{
    font-family: "Merriweather", serif;
}

h2{
    font-family: "Merriweather", serif;
}

p{
    font-family: "Merriweather", serif;
}
section{
    font-family: "Merriweather", serif;
}
ul{
    font-family: "Merriweather", serif;
}

li{
    font-family: "Merriweather", serif;
}

button{
    font-family: "Merriweather", serif;
}

footer{
    font-family: "Merriweather", serif;
}

hero {
    'HelloHi'
}

header{
    
}

a{
    
}