html{
    background-color: #f5f5f5;
    font-family: "merriweather", serif
}

body{
    font-family: "Merriweather", serif;
}

nav{
    text-align: center;
    display: flex;
    gap: 60px;
}

.navbar {
  background: #7b5ce0;
  padding: 15px 0;
  text-align: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li{
    display: inline-block;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.a1 {
    text-decoration: none;
    color: white;
    padding-left: 200px;
}
.a1 :visited{
    
}